<style>
  
 div {
    background-color: red;
	width: 200px;
	height
  }
  h1 {
     font-family: Times New Roman;
     font-weight: bold;
     color: green;
	 }
  p {
    font-family: Sans-serif;
	color: pink;
   }	 
  
</style>  