<style>

 body {
    background-image: url(background/bullseye.png);
   background-color: #d2dc9d;
   font-family: Georgia, serif;
   font-size: 100%;
   line-height: 175%;
   margin: 0 15% 0;
  }
  h1 {
     font-family: Times New Roman;
     font-weight: bold;
     color: green;
	 }
  p {
    font-family: Sans-serif;
	color: pink;
   }

</style>
